<div
  class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark sideBar"
  style="width: 280px; height: 100vh"
>
  <div style="margin-left: 15px">
    <div
      class="d-flex align-items-center mb-4 mb-md-0 me-md-auto text-white text-decoration-none"
    >
      <i class="fa-solid fa-plus fa-xl fa-fw"></i>
      <span class="fs-5" data-bs-toggle="modal" data-bs-target="#addPeopleModal"
        >&nbsp;유저 초대</span
      >
    </div>
  </div>
  <hr />
  <div class="sideBar-ul">
    <div class="sideBarTitle" style="border-bottom: 2px solid white">
      Collaborating Users
    </div>
    <!-- 조인중인 유저 리스트 -->
    <ul
      class="nav nav-pills flex-column mb-auto invitedEmailUl"
      style="margin-left: 15px"
    ></ul>
  </div>
  <div class="board-btns row">
    <button
      class="board-update-btn"
      data-bs-toggle="modal"
      data-bs-target="#boardUpdateModal"
    >
      UPDATE
    </button>
    <button class="board-delete-btn">DELETE</button>
  </div>
</div>
<div class="sidebar-back"></div>
