<div class="col" style="margin: 0; padding: 0">
  <div class="boardListBack">
    <div class="boardsBack">
      <div class=" row">
        <div class="board-title">My Board</div>
        <div class="row ownerBoardList">
          <!-- 본인 생성 보드-->
        </div>
      </div>
      <div class="board-title">Invited Board</div>
      <div class="row invitedBoardList">
        <!-- 초대된 보드 -->
      </div>
    </div>
  </div>
</div>
