<div class="col" style="margin: 0; padding: 0">
  <div class="boardListBack">
    <div class="boardsBack">
      <div class="boardList">
        <div class="board-title">보드 리스트</div>
        <div class="row">
          <!-- 리스트 -->
          <div class="boardOne col-2">
            <div class="boardOne-title text-center">보드 타이틀 1</div>
          </div>
          <!-- 보드 끝 -->
          <div class="addBoardBTN">
            <div
              class="addBoardBTN-title text-center"
              data-bs-toggle="modal"
              data-bs-target="#boardCreateModal"
            >
              +ADD
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
