<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal_cardDetail_1"
  data-bs-whatever="@cardDetail"
  data-card-id="0"
>
  카드 상세보기
</button>


<div class="modal fade"   id="exampleModal_cardDetail_1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog flex">
    <div class="modal-content round modalSize">
      <div class = "cardDetailTop"></div>
      
      <div class="modal-header column eraseLine mainModal" >
        <h4 class="leftText boled modal-title fs-5j" id="exampleModalLabel">
          <i class="fa-regular fa-rectangle-list" style="color: #b7bdc8;"></i> 
          트렐로 카드 상세보기 프론트
        </h4>
        <p class = "inLeftText grey small">list: 속해있는 리스트 이름이 들어갑니다.</p>
      </div>
      
      <div class="modal-body mainModal">
        <form>
          <div class="col-mb-3">
            <label for="message-text" class="col-form-label boled">
              <i class="fa-solid fa-audio-description" style="color: #b7bdc8;"></i> 
              설명
            </label>
            <div class="inLeftTextArea">
              <textarea class="form-control descriptionText" id="message-text" placeholder="상세 설명을 적어주세요."></textarea>
            </div>
          </div>
          <div class="col-mb-3 marginTop30">
            <label for="recipient-name" class="col-form-label boled">
              <i class="fa-regular fa-comment" style="color: #b7bdc8;"></i> 
              댓글
            </label>
            <div class="inLeftTextArea">
              <input type="text" class="form-control commentsInput" id="recipient-name" placeholder="댓글을 적어주세요.">

              <div class="comments">
                <div class="commentsInfo"><b>@</b> <span></span></div>

              </div>

            </div>
          </div>
        </form>      
      </div>
  
      <div class="modal-footer eraseLine rightBtn" id="btn-comment">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
        <button type="button-submit" class="btn btn-primary" id="submit-comment" data-card-id="0" >저장</button>
      </div>
    </div>
  </div>
</div>
