

<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"
></script>

<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal_cardDetail_1"
  data-bs-whatever="@cardDetail"
>
  카드 상세보기
</button>


<div class="modal fade"   id="exampleModal_cardDetail_1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog flex">
    <div class="modal-content round modalSize">
      <div class = "cardDetailTop" id="cardColor"></div>
      
      <div class="modal-header column eraseLine mainModal" >
        <h4 class="leftText boled modal-title fs-5j" id="exampleModalLabel">
          <i class="fa-regular fa-rectangle-list" style="color: #b7bdc8;"></i> 
          <input type="text" placeholder="카드 제목을 적어주세요" class = "cardTitleInput"/>
        </h4>
        <p class = "inLeftText grey small">list: 속해있는 리스트 이름이 들어갑니다.</p>
        <div class="dropdown">
          <!--<label for="message-text" class="col-form-label boled" style="width: 100%;">
            <i class="fa-solid fa-audio-description" style="color: #b7bdc8;"></i> 
            카드 색상
          </label>-->
          <div style="margin-left: 33px;">
            <button class="btn btn-outline-secondary dropdown-toggle" id="choiceBackgroundColor" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              choice color
            </button>
            <ul class="dropdown-menu">
              <li style="background-color: #dc4c64; height: 40px;"><a class="dropdown-item" style="color: white;">pink</a></li>
              <li style="background-color: #e4a11b; height: 40px;"><a class="dropdown-item" style="color: white;">orange</a></li>
              <li style="background-color: #8ac9de; height: 40px;"><a class="dropdown-item" style="color: white;">sky</a></li>
              <li style="background-color: #123f6f; height: 40px;"><a class="dropdown-item" style="color: white;">navy</a></li>
              <li style="background-color: #115438; height: 40px;"><a class="dropdown-item" style="color: white;">green</a></li>

            </ul>
          </div>
        </div>
      </div>

      <div class="modal-body mainModal" >
        <form>
          <div class="input-group rounded marginTop30" id="serarchmembersInput" data-mdb-input-init>
            <label for="message-text" class="col-form-label boled" style="width: 100%;">
              <i class="fa-solid fa-audio-description" style="color: #b7bdc8;"></i> 
              공개할 멤버
            </label>
            <div class="row">
              <input
                type="search"
                class="form-control rounded searchInput"
                placeholder="접근 가능한 멤버를 입력해주세요."
                aria-label="Search"
                aria-describedby="search-addon"
                style="width: 75%;"
              />

              <span class="input-group-text border-0 searchInput" id="membersSearchBtn" style="width: 20%; color: #6e6e6e; display: flex; text-align: center; align-items: center; justify-content: center; margin-left: auto;">
                <button type="button" class="btn btn-light">
                  <i class="fas fa-search"> 검색</i>
                </button>
              </span>
            </div>

          </div>
          <div class="input-group rounded marginTop30" id="serarchWorkersInput" data-mdb-input-init>
            <label for="message-text" class="col-form-label boled" style="width: 100%;">
              <i class="fa-solid fa-audio-description" style="color: #b7bdc8;"></i> 
              담당자
            </label>
            <div class="row">
              <input
                type="search"
                class="form-control rounded searchInput"
                placeholder="해당 업무를 담당할 멤버를 입력해주세요."
                aria-label="Search"
                aria-describedby="search-addon"
                style="width: 75%;"
              />

              <span class="input-group-text border-0 searchInput" id="workersSearchBtn" style="width: 20%; color: #6e6e6e; display: flex; text-align: center; align-items: center; justify-content: center; margin-left: auto;">
                <button type="button" class="btn btn-light">
                  <i class="fas fa-search"> 검색</i>
                </button>
              </span>
            </div>

          </div>
          <div class="input-group rounded marginTop30" id="dateInput" data-mdb-input-init>
            <label for="message-text" class="col-form-label boled" style="width: 100%;">
              <i class="fa-solid fa-audio-description" style="color: #b7bdc8;"></i> 
              기간
            </label>
            <div class="row">
              <input
                type="search"
                class="form-control rounded searchInput"
                placeholder="시작 날짜"
                aria-label="Search"
                aria-describedby="search-addon"
                style="width: 22.6%;"
              />
              <input
                type="search"
                class="form-control rounded searchInput"
                placeholder="마감 날짜"
                aria-label="Search"
                aria-describedby="search-addon"
                style="width: 22.6%;"
              />
              <input
                type="search"
                class="form-control rounded searchInput"
                placeholder="마감 시간"
                aria-label="Search"
                aria-describedby="search-addon"
                style="width: 22.6%;"
              />
              <span class="input-group-text border-0 searchInput" id="datesSearchBtn" style="width: 20%; color: #6e6e6e; display: flex; text-align: center; align-items: center; justify-content: center; margin-left: auto;">
                <button type="button" class="btn btn-light">
                  <i class="fas fa-search"> 검색</i>
                </button>
              </span>
            </div>

          </div>
          <div class="col-mb-3 marginTop30">
            <label for="message-text" class="col-form-label boled">
              <i class="fa-solid fa-audio-description" style="color: #b7bdc8;"></i> 
              설명
            </label>
            <div class="inLeftTextArea">
              <textarea class="form-control descriptionText" id="message-text" placeholder="상세 설명을 적어주세요."></textarea>
            </div>
          </div>
          <div class="col-mb-3 marginTop30">
            <label for="recipient-name" class="col-form-label boled">
              <i class="fa-regular fa-comment" style="color: #b7bdc8;"></i> 
              댓글
            </label>
            <div class="inLeftTextArea">
              <input type="text" class="form-control commentsInput" id="recipient-name" placeholder="댓글을 적어주세요.">
              <div class="comments">
                <div class="commentsInfo"><b>@유빌리</b> <span>19:18:00</span></div>
                <div class="commentsAndBtn">
                  <div style="width: 70%;">트렐로뤨로뤠에에히이일로오오오 </div> 
                  <button type="button" class="commentsDelete btn btn-light"  style="width: 7%; margin-left: auto;">삭제</button>
                </div>
              </div>
              <div class="comments">
                <div class="commentsInfo"><b>@김두리</b> <span>21:18:00</span></div>
                <div class="commentsAndBtn">
                  <div style="width: 70%;">요들레이히이 트렐로가 아니라 일렐로가 더 좋네요~ </div> 
                  <button type="button" class="commentsDelete btn btn-light"  style="width: 7%; margin-left: auto;">삭제</button>
                </div>
              </div>
            </div>
          </div>
        </form>      
      </div>
  
      <div class="modal-footer eraseLine rightBtn">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">취소</button>
        <button type="button" class="btn btn-secondary">수정</button>
        <button type="button" class="btn btn-primary">저장</button>
      </div>
    </div>
  </div>
</div>

<script>
  import { Autocomplete, Collapse, Dropdown, Input, Ripple, initMDB } from "mdb-ui-kit";
  import DateRangePicker from 'vanillajs-datepicker/DateRangePicker';

  initMDB({ Collapse, Dropdown, Input, Ripple });

  const elem = document.querySelector('#dateInput');
  const datepicker = new Datepicker(elem, {
    // ...options
  });

  document.addEventListener('DOMContentLoaded', function () {
    const cardDetailModal = document.querySelector('#')
  }
  axios({
    method: 'post',
    url: '/user/12345',
    data: {
      firstName: 'Fred',
      lastName: 'Flintstone'
    }
  });

  const navbarAutocomplete = document.querySelector('#searchInput');
  //이것만 가져온 데이터로 바꿔주면 될듯.

  const navbarData = ['One', 'Two', 'Three', 'Four', 'Five'];
  const navbarDataFilter = (value) => {
    return navbarData.filter((item) => {
      return item.toLowerCase().startsWith(value.toLowerCase());
    });
  };

  new Autocomplete(navbarAutocomplete, {
    filter: navbarDataFilter,
  });
</script>