<div class="container">
  <footer>
    <ul class="nav justify-content-end pb-3 mb-3">
      <li class="nav-item">
        <a class="nav-link px-2 text-body-secondary" href="#"
          ><i class="fa-solid fa-umbrella-beach"></i>효진</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 text-body-secondary" href="#"
          ><i class="fa-solid fa-umbrella-beach"></i>주완</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 text-body-secondary" href="#"
          ><i class="fa-solid fa-umbrella-beach"></i>재진</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 text-body-secondary" href="#"
          ><i class="fa-solid fa-umbrella-beach"></i>은지</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 text-body-secondary" href="#"
          ><i class="fa-solid fa-umbrella-beach"></i>이진</a
        >
      </li>
      <li><a class="nav-link px-2 text-body-secondary" href="#">
        <i class="fa-solid fa-sun fa-xl"></i> 2023 내배캠 일광욕조</li>
    </ul>
  </footer>
</div>