<header class="p-3 text-bg-dark text-center">
  <div class="container-fluid d-grid gap-3 align-items-center">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <span class="Ilrello">๐ Ilrello</span>
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a href="project_info" class="nav-link text-white">ํ๋ก์ํธ ์๊ฐ</a>
        </li>
        <li><a href="#" class="nav-link text-white">ํ ์๊ฐ</a></li>
        <li><a href="#" class="nav-link text-white">ํ๋</a></li>
        <li><a href="#" class="nav-link text-white">์ฃผ์ ์ฝ๋</a></li>
      </ul>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2" data-bs-toggle="modal" data-bs-target="#loginModal" data-bs-whatever="@login">๋ก๊ทธ์ธ</button>
        <button type="button" class="btn btn-warning" onclick="location.href= '/api/register'">ํ์๊ฐ์</button>
        <!-- ๋ก๊ทธ์ธ ํ์๋ -->
          <button type="button" class="btn btn-outline-light me-2">๋ก๊ทธ์์</button>
          <button type="button" class="btn btn-warning" onclick="location.href= '/api/user/userId'">๋ด์๋ณด</button>
      </div>
  </div>
</header>
<div style="height: 80px"></div>