<header class="p-3 text-bg-dark text-center">
  <div class="container-fluid d-grid gap-3 align-items-center">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <span class="Ilrello">🌞 Ilrello</span>
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a href="/api/project_info" class="nav-link text-white">프로젝트 소개</a>
        </li>
        <li><a href="#" class="nav-link text-white">팀 소개</a></li>
        <li><a href="#" class="nav-link text-white">플랜</a></li>
        <li><a href="#" class="nav-link text-white">주요 코드</a></li>
      </ul>

      <div class="text-end">
        <% if(user===null){ %>
        <button type="button" class="btn btn-outline-light me-2" data-bs-toggle="modal" data-bs-target="#loginModal">로그인</button>
        <button type="button" class="btn btn-warning" onclick="location.href= '/api/register'">회원가입</button>
        <% }else{ %>
          <button type="button" class="btn btn-outline-light me-2">로그아웃</button>
          <button type="button" class="btn btn-warning" onclick="location.href= '/api/user/info'">내정보</button>
          <button type="button" class="btn" id="Notification" data-bs-toggle="modal"
          data-bs-target="#notice"><i class="fa-solid fa-bell" style="font-size: 40px;color: #ffc107"></i></button>
        <% } %>
        </div>
  </div>
</header>
<div style="height: 80px"></div>