<div
  class="modal mpdal-backdrop fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  style="z-index: 1051"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">로그인</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <!-- -- -->
      <form class="modal-body" id="loginFormModalBody">
        <!-- 로그인 -->
        <div class="loginForm">
          <p class="regLable">email</p>
          <input
            class="input-group-text loginEmail"
            type="email"
            name="email"
            id="email"
            placeholder="이메일을 입력해주세요."
            value="example@example.com"
            required
          />
          <p class="regLable">비밀번호</p>
          <input
            class="input-group-text loginPassword"
            type="password"
            name="password"
            id="password"
            value="123123"
            required
          />
          <br />
        </div>
        <input
          class="btn btn-warning input-group-text"
          type="submit"
          id="loginSubmit"
        />
      </form>
      <!-- -- -->
      <button
        type="button"
        class="btn btn-secondary mt-2 input-group-text"
        data-bs-dismiss="modal"
      >
        닫기
      </button>
    </div>
  </div>
</div>
