<div class="col" id="mainBoard" style="margin: 0; padding: 0">
  <div class="kanban">
    <div class="kanban__board">
      <div class="kanban__board-title">
        <span id="boardName"></span
        ><span
          id="boardDescription"
          style="font-size: 22px; margin-bottom: 0px"
        ></span>
      </div>
      <div class="row">
        <!-- 리스트 -->
        <div class="kanban_list col-2" id="list1">
          <div class="kanban__list-title">리스트 타이틀</div>
          <div class="kanban_card cardName" id="card1" draggable="true">
            카드
          </div>
          <div contenteditable class="kanban__card-input">카드작성</div>
          <div class="kanban__dropzone"></div>
          <button class="kanban__add-card" type="button">+ Add</button>
        </div>
        <!-- 리스트 -->
        <div class="kanban_list col-2" id="list2">
          <div class="kanban__list-title">리스트 타이틀</div>
          <div class="kanban_card cardName" id="card2" draggable="true">
            카드
          </div>
          <div contenteditable class="kanban__card-input">카드작성</div>
          <div class="kanban__dropzone"></div>
          <button class="kanban__add-card" type="button">+ Add</button>
        </div>
        <!-- 보드 끝 -->
      </div>
    </div>
  </div>
</div>
