<div class="col" id="mainBoard" style="margin: 0; padding: 0">
  <div class="kanban">
    <div class="kanban__board">
      <<<<<<< HEAD
      <div class="kanban__board-title">보드 타이틀</div>
      <div class="row" id="lists">
        =======
        <div class="kanban__board-title">
          <span id="boardName"></span
          ><span
            id="boardDescription"
            style="font-size: 22px; margin-bottom: 0px"
          ></span>
        </div>
        <div class="row">
          <!-- 리스트 -->
          <div class="kanban_list col-2" id="list1">
            <div class="kanban__list-title">리스트 타이틀</div>
            <div class="kanban_card cardName" id="card1" draggable="true">
              카드
            </div>
            <!--<div contenteditable class="kanban__card-input">카드작성</div>-->
            <div class="kanban__dropzone"></div>
            <button class="kanban__add-card" type="button">+ Add</button>
          </div>
          <!-- 리스트 -->
          <div class="kanban_list col-2" id="list_2">
            <div class="kanban__list-title">리스트 타이틀</div>
            <div class="kanban_card cardName" id="card_52" draggable="true">
              카드
            </div>
            <div class="kanban_card cardName" id="card_53" draggable="true">
              카드
            </div>
            <!--<div contenteditable class="kanban__card-input">카드작성</div>-->
            <div class="kanban__dropzone"></div>
            <button
              class="kanban__add-card"
              id="addCard"
              type="button"
              class="btn btn-primary card-btn"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal_cardDetail_1"
              data-bs-whatever="@cardDetail"
              data-card-id="0"
            >
              카드 추가하기
            </button>
          </div>
          <!-- 보드 끝 -->
        </div>
      </div>
    </div>
  </div>

  <script>
    const listsElement = document.getElementById('lists');
      console.log('리스트1', listsElement);
      listsElement.addEventListener('click', function (e) {
        e.stopPropagation();

        const cardNum = e.target.id.split('_')[1];
        console.log('카드번호 클릭한애', cardNum);

        let showModal = document.createElement('div');

        //댓글 가져오기
        let newComment;
        axios
          .get(`/api/cards/${cardNum}/comments`)
          .then((res) => {
            console.log(res);

            for (el of res.data.data) {
              const eachComment = `
                <div class="comments">
                  <div class="commentsInfo"><b>@${el.userName}</b> <span>${el.updated_at}</span></div>
                  <div class="commentsAndBtn">
                    <div style="width: 70%;">${el.content}</div>
                    <button type="button" class="commentsDelete btn btn-light"  style="width: 7%; margin-left: auto;" data-comment-id="${el.id}" data-card-id="${el.card_id}">삭제</button>
                  </div>
                </div>
                `;
              document
                .querySelectorAll('.inLeftTextArea')[1]
                .insertAdjacentHTML('beforeend', eachComment);
            }
          })
          .catch((error) => {
            console.log(error);
            throw new Error(error);
          });
        axios
          .get(`/api/card/${cardNum}`, {})
          .then(async (res) => {
            console.log(res);
            console.log('카드정보 가져오고있음', res.data.data);
            const resData = res.data.data;
            resData.allowMembers.forEach((e) => {
              axios.get(`/api/`, {});
            });
            const modalHtml = `
            <div class="modal fade"   id="exampleModal_cardDetailShow_1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog flex">
                <div class="modal-content round modalSize" id="cardDetailModal">
                  <div class = "cardDetailTop" id="cardColor"></div>

                  <div class="modal-header column eraseLine mainModal" >
                    <h4 class="leftText boled modal-title fs-5j" id="exampleModalLabel">
                      <i class="fa-regular fa-rectangle-list" style="color: #b7bdc8;"></i>
                      <div class = "cardTitleInput" id="cardTitleInput">${resData.cardName}</div>
                    </h4>
                    <p class = "inLeftText grey small">list: 속해있는 리스트 이름이 들어갑니다.</p>
                    <div class="dropdown">
                      <div style="margin-left: 33px;">
                        <button class="btn btn-outline-secondary dropdown-toggle" id="choiceBackgroundColor" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          choice color
                        </button>
                        <ul class="dropdown-menu">
                          <li id="dc4c64" style="background-color: #dc4c64; height: 40px;"><a class="dropdown-item" style="color: white;">pink</a></li>
                          <li id="e4a11b" style="background-color: #e4a11b; height: 40px;"><a class="dropdown-item" style="color: white;">orange</a></li>
                          <li id="8ac9de" style="background-color: #8ac9de; height: 40px;"><a class="dropdown-item" style="color: white;">sky</a></li>
                          <li id="123f6f" style="background-color: #123f6f; height: 40px;"><a class="dropdown-item" style="color: white;">navy</a></li>
                          <li id="115438" style="background-color: #115438; height: 40px;"><a class="dropdown-item" style="color: white;">green</a></li>

                        </ul>
                      </div>
                      <div id="checkChoiceColor" style="margin-left: 20px; margin-top: 3px;width: 30px; height: 30px; border: 1px solid; background-color: ${resData.cardColor}"></div>

                    </div>
                  </div>

                  <div class="modal-body mainModal" >
                      <div class="input-group rounded marginTop30" id="serarchmembersInput" data-mdb-input-init>
                        <label for="message-text" class="col-form-label boled" style="width: 100%;">
                          <i class="fa-solid fa-audio-description" style="color: #b7bdc8;"></i>
                          공개할 멤버
                        </label>
                        <div class="row">
                          <div type="search"
                            class="form-control rounded searchInput"
                            id="availableMembers"
                            style="width: 75%;">

                          </div>


                          <span class="input-group-text border-0 searchInput" id="membersSearchBtn" style="width: 20%; color: #6e6e6e; display: flex; text-align: center; align-items: center; justify-content: center; margin-left: auto;">
                            <button type="button" class="btn btn-light" id="availableMemberBtn">
                              <i class="fas fa-search"> 검색</i>
                            </button>
                          </span>
                        </div>
                        <div id = "findUserName" style="margin-left: 45px;"></div>
                      </div>
                      <div class="input-group rounded marginTop30" id="serarchWorkersInput" data-mdb-input-init>
                        <label for="message-text" class="col-form-label boled" style="width: 100%;">
                          <i class="fa-solid fa-audio-description" style="color: #b7bdc8;"></i>
                          담당자
                        </label>
                        <div class="row">
                          <div
                            type="search"
                            class="form-control rounded searchInput"
                            id="workers"
                            style="width: 75%;"
                          ></div>

                          <span class="input-group-text border-0 searchInput" id="workersSearchBtn" style="width: 20%; color: #6e6e6e; display: flex; text-align: center; align-items: center; justify-content: center; margin-left: auto;">
                            <button type="button" class="btn btn-light">
                              <i class="fas fa-search"> 검색</i>
                            </button>
                          </span>
                        </div>
                        <div id = "findWorkerName" style="margin-left: 45px;"></div>
                      </div>
                      <div class="input-group rounded marginTop30" id="dateInput" data-mdb-input-init>
                        <label for="message-text" class="col-form-label boled" style="width: 100%;">
                          <i class="fa-solid fa-audio-description" style="color: #b7bdc8;"></i>
                          기간
                        </label>
                        <div class="row">
                          <div
                            type="search"
                            class="form-control rounded searchInput"
                            id="startDate"
                            style="width: 22.6%;"
                          >${resData.startDate}</div>
                          <div
                            type="search"
                            class="form-control rounded searchInput"
                            id="endDate"
                            style="width: 22.6%;"
                          >${resData.endDate}</div>
                          <div
                            type="search"
                            class="form-control rounded searchInput"
                            id="endTime"
                            style="width: 22.6%;"
                          />${resData.endTime}</div>
                          <span class="input-group-text border-0 searchInput" id="datesSearchBtn" style="width: 20%; color: #6e6e6e; display: flex; text-align: center; align-items: center; justify-content: center; margin-left: auto;">
                            <button type="button" class="btn btn-light" style="font-weight: bolder;" id="dateSaveBtn">
                              저장
                            </button>
                          </span>
                        </div>

                      </div>
                      <div class="col-mb-3 marginTop30">
                        <label for="message-text" class="col-form-label boled">
                          <i class="fa-solid fa-audio-description" style="color: #b7bdc8;"></i>
                          설명
                        </label>
                        <div class="inLeftTextArea">
                          <div class="form-control descriptionText" id="cardDescription"></div>
                        </div>
                      </div>
                      <div class="col-mb-3 marginTop30">
                        <label for="recipient-name" class="col-form-label boled">
                          <i class="fa-regular fa-comment" style="color: #b7bdc8;"></i>
                          댓글
                        </label>
                        <div class="inLeftTextArea">
                          <input type="text" class="form-control commentsInput" id="cardComments" placeholder="댓글을 적어주세요.">
                          <div class="comments">
                            <div class="commentsInfo"><b>@유빌리</b> <span>19:18:00</span></div>
                            <div class="commentsAndBtn">
                              <div style="width: 70%;">트렐로뤨로뤠에에히이일로오오오 </div>
                              <button type="button" class="commentsDelete btn btn-light"  style="width: 7%; margin-left: auto;">삭제</button>
                            </div>
                          </div>
                          <div class="comments">
                            <div class="commentsInfo"><b>@김두리</b> <span>21:18:00</span></div>
                            <div class="commentsAndBtn">
                              <div style="width: 70%;">요들레이히이 트렐로가 아니라 일렐로가 더 좋네요~ </div>
                              <button type="button" class="commentsDelete btn btn-light"  style="width: 7%; margin-left: auto;">삭제</button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>

                  <div class="modal-footer eraseLine rightBtn">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-secondary">수정</button>
                  </div>
                </div>
              </div>
            </div>
          `;
          showModal.innerHTML = modalHtml
          //document.querySelectorAll('')
          //})
          .catch((err) => {
            console.log(err);
          });
      });
  </script>
</div>
