<div
  class="modal mpdal-backdrop fade"
  id="notice"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  style="z-index: 1051; padding: 30px"
>
  <div class="modal-dialog">
    <div class="modal-content" style="padding: 20px">
      <div class="modal-header">
        <h2
          class="modal-title-board"
          id="exampleModalLabel"
          style="font-size: 3rem; margin: none"
        >
          NOTICE
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="input-container modal-body" id="infos">
        <label></label>
      </div>
      <div class="boardSubmitBtn justify-items-center"></div>
    </div>
  </div>
</div>
