  <div
  class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark sideBar"
  style="width: 280px; height: 100vh"
>
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <svg class="bi pe-none me-2" width="40" height="32">
      <use xlink:href="#bootstrap" />
    </svg>
    <span class="fs-4">Board List</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="/" class="nav-link text-white" aria-current="page">
        <i class="fa-brands fa-trello fa-lg fa-fw" style="color: #ffc107;"></i>
        <span> 보드 생성</span>
      </a>
    </li>
    <li">
      <a href="#" class="nav-link text-white align-items-center">
        <i class="fa-solid fa-square-full fa-lg fa-fw" style="color: #ffc107;"></i>
        <span> 보드1</span>
      </a>
    </li>
  </ul>
</div>
<div class="sidebar-back"></div>
