<div
  class="updateBoardModalBox modal mpdal-backdrop fade"
  id="boardUpdateModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  style="z-index: 1051; padding: 30px"
>
  <div class="modal-dialog">
    <div class="modal-content" style="padding: 20px">
      <div class="modal-header">
        <h2 class="modal-title-board" id="exampleModalLabel">UPDATE BOARD</h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="input-container modal-body">
        <label class="board-create-label" for="input1"
          ><p class="boardCreateValues">BOARD TITLE</p></label
        >
        <input
          class="board-create-input"
          type="text"
          id="title"
          name="input1"
        />
        <label for="input2"><p class="boardCreateValues">DESCRIPTION</p></label>
        <input
          class="board-create-input"
          type="text"
          id="description"
          name="input2"
        />

        <div class="board-input-container">
          <label for="input2" class="board-create-label"
            ><p class="boardCreateValues">BACKGROUND COLOR</p></label
          >
          <div class="colorBox-container">
            <!-- 8개의 정사각형 div -->
            <div
              class="square"
              style="background-color: #003049"
              data-color="#003049"
            ></div>
            <div
              class="square"
              style="background-color: #d62828"
              data-color="#d62828"
            ></div>
            <div
              class="square"
              style="background-color: #f77f00"
              data-color="#f77f00"
            ></div>
            <div
              class="square"
              style="background-color: #219ebc"
              data-color="#219ebc"
            ></div>
            <div
              class="square"
              style="background-color: #5f0f40"
              data-color="#5f0f40"
            ></div>
            <div
              class="square"
              style="background-color: #ffc107"
              data-color="#ffc107"
            ></div>
            <div
              class="square"
              style="background-color: #3a86ff"
              data-color="#3a86ff"
            ></div>
            <div
              class="square"
              style="background-color: #136f63"
              data-color="#136f63"
            ></div>
          </div>
          <div class="boardSubmitBtn justify-items-center">
            <button class="submit-btn text-center" id="updateBtn">
              UPDATE BOARD
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
