*::-webkit-scrollbar {
  display: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.sideBar {
  position: fixed;
}
.sidebar-back {
  width: 280px;
}

.Ilrello {
  color: #ffc107;
  font-size: 32px;
}

/* 보드 */
.kanban {
  display: flex;
  padding: 30px;
  width: 100%;
  height: 100vh;
  background: #ffc107;
}

.kanban__board {
  flex: 1;
  flex-direction: row;
}

.kanban__board:not(:last-child) {
  margin-right: 30px;
}

.kanban__board-title {
  margin-bottom: 20px;
  font-size: 30px;
  color: black;
  user-select: none;
}

.kanban_list {
  background: rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  width: 400px;
  margin: 15px;
  cursor: move;
}
.kanban__list-title {
  margin-bottom: 10px;
  font-size: 25px;
  color: black;
}
.kanban_card {
  padding: 10px 15px;
  box-sizing: border-box;
  background: white;
  border-radius: 10px;
  margin: 15px 0;
  cursor: move;
}

.kanban__card-input {
  padding: 10px 15px;
  box-sizing: border-box;
  background: white;
  border-radius: 10px;
  cursor: pointer;
}
.kanban__dropzone {
  height: 10px;
  transition:
    background 0.15s,
    height 0.15s;
}
.kanban__dropzone--active {
  height: 20px;
  background: rgba(0, 0, 0, 0.25);
}
.kanban__add-card {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
}
/* 보드 리스트용 */
.boardListBack {
  display: flex;
  padding: 30px;
  width: 100%;
  height: 100vh;
  background: #ffc107;
}
.boardsBack {
  flex: 1;
  flex-direction: row;
}

.boardList:not(:last-child) {
  margin-right: 30px;
}

.board-title {
  margin-bottom: 20px;
  font-size: 30px;
  color: black;
  user-select: none;
}

.boardOne {
  background: rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  width: 400px;
  margin: 15px;
  cursor: move;
}
.boardOne-title {
  margin-bottom: 10px;
  font-size: 25px;
  color: black;
}

.addBoardBTN {
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  width: 400px;
  margin: 15px;
  cursor: pointer;
}

.addBoardBTN-title {
  margin-bottom: 10px;
  font-size: 25px;
  color: black;
}

/* 카드 상세 */

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.leftText {
  margin-top: 10px;
  margin-right: auto;
}
.inLeftText {
  margin-top: 5px;
  margin-right: auto;
  padding-left: 33px;
}

.marginTop30 {
  margin-top: 30px;
}
.inLeftTextArea {
  padding-left: 33px;
  margin-top: 7px;
}
.rightBtn {
  margin-right: 20px;
  margin-bottom: 20px;
}
.column {
  display: flex;
  flex-direction: column;
  width: 1000px;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.modalSize {
  height: auto;
  width: 1000px;
  /*width: 150%;*/
}
.descriptionText {
  height: 200px;
}
.border {
  border-top: 1px transparent;
  border-left: 1px transparent;
  border-right: 1px transparent;

  border-bottom: 1px solid gainsboro;
}
.eraseLine {
  border: 1px solid transparent;
}
.grey {
  color: grey;
}
.commentsInput {
  margin-bottom: 30px;
}
.commentsInfo {
  font-size: 12px;
  color: grey;
  /* margin-bottom: 2px; */
}
.comments {
  margin: 0px 0px 18px 0px;
  padding-left: 13px;
}
.commentsAndBtn {
  display: flex;
  flex-direction: row;
}
.cardTitleInput {
  padding: 10px;
  font-size: 25px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  outline: none;
}
.dropdown-item:hover {
  background-color: inherit;
}
.right {
  margin-left: auto;
  padding: 20px;
}

.cardDetailTop {
  background-color: #44abb8;
  /* background-color: #4c6b1e; */
  border-radius: 16px 16px 0 0;
  height: 80px;
  padding: 20px;
}

.round {
  border-radius: 20px;
}

.small {
  font-size: 15px;
}

.boled {
  font-weight: bolder;
}

.mainModal {
  width: 100%;
  margin-right: auto;
  padding: 30px;
}

/*.sideModal {
  width: 35%;
  margin-left: auto;
  padding: 30px;
}*/

.searchInput {
  margin-left: 32px;
  /*font-weight: lighter;*/
  width: 200px;
}

.dropdown {
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}
#choiceBackgroundColor {
  width: 269px;
  /*width: 187px;*/
}
.commentsDelete {
  margin-left: auto;
  float: right;
}
/*카드 상세 e*/

/* 칸반보드 s */
#kanban {
  white-space: nowrap;
}

.list {
  border-radius: 8px;
  margin: 5px;
  background-color: rgba(192, 192, 192, 0.4);
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}

.list-title {
  font-size: 16px;
  padding: 10px;
  padding-left: 30px;
  margin-bottom: -10px;
  font-weight: bold;
  cursor: pointer;
}

.scrollable-list {
  height: 400px;
  width: 260px;
}

.sortable-cards {
  min-height: 380px;
}

.card {
  position: relative;
  background-color: white;
  box-sizing: border-box;
  width: 230px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.card-subject {
  padding-bottom: 10px;
}

.card-assignee {
  opacity: 0.6;
}

.card-priority {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 5px;
  width: 5px;
  border-radius: 2px;
  background: #86c285;
}

.priority-1 {
  background: #adadad;
}

.priority-2 {
  background: #86c285;
}

.priority-3 {
  background: #edc578;
}

.priority-4 {
  background: #ef7d59;
}

/* 칸반보드 e */

.input-group-text {
  width: 100%;
}
