.userBackground {
  display: flex;
  padding: 30px;
  width: 100%;
  height: 100vh;
  background: #ffc107;
}
.userBoard {
  flex: 1;
  flex-direction: row;
}
.userTitle {
  margin-bottom: 20px;
  font-size: 30px;
  color: black;
  user-select: none;
}
.userBox {
  background: rgba(0, 0, 0, 0.1);
  padding: 40px 40px;
  box-sizing: border-box;
  border-radius: 15px;
  width: 400px;
  margin: 15px;
}
.regLable {
  font-size: 20px;
}
.input-group-text {
  width: 100%;
  padding: 10px;
  font-size: 19px;
}
.regSubmit {
  padding: 20px;
  font-size: 20px;
}
